[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "~=1.1"
flask-sqlalchemy = "~=2.4"
flask-marshmallow = "==0.13"
flask-restful = "~=0.3"
flask-cors = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3"
