sm = "all and (min-width: 600px)"
md = "all and (min-width: 960px)"
lg = "all and (min-width: 1264px)"

// see also Vue.prototype.$colors in src/main.js
$white = #fff
$grey1 = #efefef
$grey2 = #aaa
$grey3 = #999
$grey4 = #888
$grey5 = #333
$dark = #2c3e50
$danger = #b66
$success = #696

$z-modal-backdrop = 100
$z-modal-window = 110